
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2 class="text-center">About our Family Business</h2>

<div class="row">
    <div class="col-md-6">
        <p>Family Hardware has been around since 1963 erving the neighborhood of Levittown New York. We have been supplying the area with all types of hardware needs for over 86 years and running. This includes, supply the needs of the area of lumber and hardware for the rapid growth of housing within this area shortly after World War 2.</p>

        <p>As times have changed, so has our local business. Making the switch of a huge distribution center for local contruction to meeting the everyday needs of our local residents within the town. This includes major supplies for that renovation that is needed, to the smaller for school projects. Our family store has everything that you will need for every project, Big and Small.</p>

        <p>Now is the time to also offer to our customers the opportunity to and convnience of order their hardware store needs online. Browse our new website and order all of your hardware needs from the comfort of your own home. Have it delivered, with our lcoal same day delivery service.</p>

        <p>If you have any questions, or concerns that you are unclear about, please feel free to contact us at:</p>

        <p>
            Phone: 555-555-5555<br />
            Email: Support@FamilyHardware.com
        </p>
    </div>
       <div class="col-md-6">
           <img src="~/Images/tools.jpg" class="img-fluid" />
       </div>
</div>

