
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2 class="text-center">Home Page</h2>

<div class="row">
    <div class="col text-center" >
        <h2>Information Col</h2>
</div>
<div class="row">
    <div class="col text-center">
        <div class="card-header">
            <h2>Card Header 1</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie in magna eget elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec sollicitudin ex dui, ut aliquet purus laoreet quis. Aliquam cursus enim erat, at eleifend tellus cursus et. Nulla feugiat, nunc id suscipit commodo,
                elit enim eleifend turpis, quis aliquam tellus nibh eu mi. Proin eu faucibus arcu. Phasellus lobortis dui eget interdum tristique. Morbi fermentum mi ac ipsum elementum,
                vitae pellentesque justo mollis. Proin lacus elit, vulputate a mauris id, rutrum sollicitudin odio. Proin nec velit nec dolor aliquam elementum. Proin tempor posuere enim vel convallis.
                Maecenas mollis, risus sed luctus pulvinar, sem neque vulputate nibh, vitae faucibus nisl nunc ac mi.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie in magna eget elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec sollicitudin ex dui, ut aliquet purus laoreet quis. Aliquam cursus enim erat, at eleifend tellus cursus et.
            </p>
        </div>
    </div>
    <div class="col text-center">
        <div class="card-header">
            <h2>Card Header 2</h2>
            <img src="~/Images/tools.jpg" class="img-fluid" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <div class="card-header">
            <h2>Card Header</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie in magna eget elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec sollicitudin ex dui, ut aliquet purus laoreet quis. Aliquam cursus enim erat, at eleifend tellus cursus et. Nulla feugiat, nunc id suscipit commodo,
                elit enim eleifend turpis, quis aliquam tellus nibh eu mi. Proin eu faucibus arcu. Phasellus lobortis dui eget interdum tristique. Morbi fermentum mi ac ipsum elementum,
                vitae pellentesque justo mollis. Proin lacus elit, vulputate a mauris id, rutrum sollicitudin odio. Proin nec velit nec dolor aliquam elementum. Proin tempor posuere enim vel convallis.
                Maecenas mollis, risus sed luctus pulvinar, sem neque vulputate nibh, vitae faucibus nisl nunc ac mi.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie in magna eget elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec sollicitudin ex dui, ut aliquet purus laoreet quis. Aliquam cursus enim erat, at eleifend tellus cursus et.
            </p>
        </div>
    </div>
    <div class="col text-center">
        <div class="card-header">
            <h2>Card Header</h2>
            <img src="~/Images/tools.jpg" class="img-fluid" style="height:500px" />
        </div>
    </div>
    <div class="col text-center">
        <div class="card-header">
            <h2>Card Header</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie in magna eget elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec sollicitudin ex dui, ut aliquet purus laoreet quis. Aliquam cursus enim erat, at eleifend tellus cursus et. Nulla feugiat, nunc id suscipit commodo,
                elit enim eleifend turpis, quis aliquam tellus nibh eu mi. Proin eu faucibus arcu. Phasellus lobortis dui eget interdum tristique. Morbi fermentum mi ac ipsum elementum,
                vitae pellentesque justo mollis. Proin lacus elit, vulputate a mauris id, rutrum sollicitudin odio. Proin nec velit nec dolor aliquam elementum. Proin tempor posuere enim vel convallis.
                Maecenas mollis, risus sed luctus pulvinar, sem neque vulputate nibh, vitae faucibus nisl nunc ac mi.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie in magna eget elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec sollicitudin ex dui, ut aliquet purus laoreet quis. Aliquam cursus enim erat, at eleifend tellus cursus et.
            </p>
        </div>
    </div>
</div>
    
    
