@model MyHardwareStore.Employee

@{
    ViewBag.Title = "ThankYouEmp";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>Thank You @Model.firstName @Model.lastName</h2>
<hr />
<h3>We'll review your application and get back to you!</h3>

