@model MyHardwareStore.Customer

@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>Thank You @Model.firstName @Model.lastName</h2>
<h3>For registering with our company.</h3>

